@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: var(--c-blue);
  font-family: var(--ff-acme);
  height: 6rem;
  font-size: 3rem;
  padding-left: 2rem;
}