.app {
  text-align: center;
  background-color: #292c33;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #363f48;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 20px;
  font-size: calc(20px + 1vmin);
  border-radius: 50px;
  width: 70%;
  max-width: 650px;
  margin: 50px;
}

.app-header div{
  font-family: 'Roboto', sans-serif;
  font-size: calc(10px + 3vmin);
}

