.todo-edit {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: #363f48;
    border-radius: 50px;
    margin: 10px 0;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.todo-edit label {
    margin-bottom: 10px;
    font-size: 1.2em;
}

.todo-edit input {
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 50px;
    font-family: 'Roboto', sans-serif;
}

.todo-edit button {
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    background: transparent;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}