.todo-list {
    width: 60%;
    max-width: 600px;
    margin: 20px auto;
    background-color: #363f48;
    border-radius: 50px;
    padding: 40px;
}

.todo-list h2 {
    margin-top: 0;
    margin-bottom: 20px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: calc(10px + 2vmin);
}

