.todo-item {
    display: flex;
    flex-direction: column;
    background: #292c33;
    border-radius: 50px;
    color: white;
    position: relative; 
    margin: 10px;
    padding-left: 40px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: calc(5px + 2vmin);
  }
  
  .todo-item button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    background: transparent;
    border: none;
    border-radius: 50px;
    cursor: pointer;
  }
  
  .todo-item button img {
    display: block;
  }
  
  .todo-item-button-one {
    margin-right: calc(40px + 2vmin); /* Adds space between the buttons */
  }

  .todo-item-button-one img {
    padding-top: 4px;
    width: calc(20px + 2vmin);
    height: calc(20px + 2vmin);
    transition: transform 0.5s ease;
  }
  
  .todo-item-button-two img {
    padding-right: 10px;
    width: calc(25px + 2vmin);
    height: calc(25px + 2vmin);
    transition: transform 0.5s ease;
  }

  .todo-item-button-one:hover img,
  .todo-item-button-two:hover img {
  transform: scale(1.2); 
  }