.todo-create {
  display: flex;
  position: relative;
  flex-direction: column;
  color: white;
  margin: 10px;
}

.todo-create input {
  padding: 20px; 
  width: 100%;
  max-width: 600px;
  border: none;
  border-radius: 50px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: calc(5px + 2vmin);
  margin-top: 20px;
}

.todo-create button {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  padding: 20px;
  background: #292C33;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 10px;
}

.todo-create button img {
  display: block;
  width: calc(10px + 2vmin);
  height: calc(10px + 2vmin);
  transition: transform 0.5s ease;
}

.todo-create button:hover {
  background: #363F48;
}
